<h1 class="text-3xl font-bold text-center text-gray-800 my-6">Todo List</h1>

<%= render partial: "todos/partials/todo_create_form" %>

<div class="my-8 bg-gray-50 p-6 rounded-lg shadow-lg max-w-xl mx-auto">
  <% if @todos.any? %>
    <% @todos.each do |todo| %>
      <div class="p-4 flex-col items-center border-b last:border-b-0 bg-white hover:bg-gray-100 rounded-md transition-all duration-200 ease-in-out shadow-sm">
        <% if params[:edit_id].to_i == todo.id %>
          <%= render partial: "todos/partials/todo_edit_form", locals: { todo: todo } %>
        <% else %>
          <%= render partial: "todos/partials/todo_item", locals: { todo: todo } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center text-gray-500 font-medium">No todos yet. Add your first task!</p>
  <% end %>
</div>